.container-fluid

  // header
  .row-fluid(style="color:#666;opacity:0.4")
    .span12
      i.icon-play
      &nbsp;
      b bidstream
      input(placeholder="search",style="margin: 0px 0px 3px 20px;")
      .pull-right logged in

  hr(style="margin: 5px -10px 20px 0px;opacity: 0.6;")

  // item
  .row-fluid
    .span12
      h3(style="padding-bottom: 3px; color:#666;") ${root.auction.title}
      span(style="color:#666; padding: 0px;")
        | sold by 
        &nbsp;
        i.icon-user
        &nbsp;
        a Contra
        &nbsp;
        &nbsp;
        i.icon-star
        | 471
        &nbsp;
        &nbsp;
        i.icon-eye-open
        | 27

  .row-fluid(style="padding-top: 15px;")
    .span4
      .product(style="width:320px;")
        center
          img(src='${root.auction.image_url}', height="50%", width="85%", style="padding:10px;")
      div
        #b1(style="width:100%;border-bottom:1px solid #fff;font-size:18px;padding-bottom: 10px; padding-top: 10px;margin-bottom:10px;background-color:#fff") 
          i.icon-time
          span(style="padding:10px 10px 10px 10px;") history                    
        #b1(style="width:100%;border-bottom:1px solid #fff;font-size:18px;padding-bottom: 10px; margin-bottom:10px;") 
          i.icon-info-sign
          span(style="padding:10px 10px 10px 10px;") product info                    
        #b1(style="width:100%;border-bottom:1px solid #fff;font-size:18px;padding-bottom: 10px; margin-bottom:10px;") 
          i.icon-question-sign
          span(style="opacity:1.0;padding:10px 10px 10px 10px;") questions
        #b1(style="width:100%;border-bottom:1px solid #fff;font-size:18px;padding-bottom: 10px; margin-bottom:10px;") 
          i.icon-comments
          span(style="opacity:1.0;padding:10px 10px 10px 10px;") live chat


    .span6
      | graph etc

  //
    li
     ul(each-bid='${root.auction.bids}')
      span ${birowspan=2,d.name}
    b deets
      span ${bid.bid}

