.navbar(style="width:100%;")
  i.icon-play
  &nbsp;
  b bidstream
  .pull-right logged in

table(width="100%")
  tr
    td.well(width="45%")
      #item
        h3 ${root.auction.title}
        img(src='${root.auction.image_url}')

        //
          li
           ul(each-bid='${root.auction.bids}')
            span ${bid.name}
            span  - 
            span ${bid.bid}
     
        div
          | details

    td(style="padding-left:10px;")
      | foo

